body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.err-container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

.err-container h1 {
  margin-top: 100px;
  font-size: 80px;
}

.err-container p {
  border-top: 2px solid;
  padding-top: 40px;
  font-size: 22px;
  width: auto;
}

.credit-card-img-responsive {
  height: 3em;
}

.lv-toast {
  display: flex;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 9.7s;
}

.lv-toast > div.lv-alert {
  width: 100%;
}

.lv-toast:not(:last-child) {
  margin: 0 0 12px;
}

.lv-toasts {
  bottom: 25px;
  position: fixed;
  right: 25px;
  z-index: 1999;
  width: 350px;
}

.lv-alert__heading {
  font-size: 1em;
  line-height: 0.9;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.lv-alert__body {
  font-size: 1rem;
  border-left-color: green;
  color: #1b1b1b;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.lv-alert__text {
  font-size: 0.9rem;
}

.lv-alert--slim {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.lv-alert {
  font-size: 1.06rem;
  line-height: 1.5;
  position: relative;
  border-left: 0.5rem solid #00a91c;
}

.lv-alert--success {
  background-color: #ecf3ec;
  border-left-color: #00a91c;
  color: #1b1b1b;
}

.lv-alert--warning {
  background-color: #faf3d1;
  border-left-color: #ffbe2e;
  color: #1b1b1b;
}

.lv-alert--error {
  background-color: #f4e3db;
  border-left-color: #d54309;
  color: #1b1b1b;
}

.lv-alert--info {
  background-color: #e7f6f8;
  border-left-color: #00bde3;
  color: #1b1b1b;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}